.header {
    display: flex;
    align-items: center;
    height: 7%;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    gap: 30%;
}

.search-form {
    display: flex;
    flex-direction: row;
    height: 65%;
}

.search-input {
    padding-left: 5%;
    border: 0px;
    background-color: rgb(235, 235, 235);
    min-width: 250px;
}

.search-icon {
    height: 100%;
    width: 1%;
    align-self: center;
    border: none;
    background-color: white;
    cursor: pointer;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
}

.logo-img {
    width: 3rem;
}

@media only screen and (max-width: 768px) {
    .search-form {
        display: none;
    }
    .logo {
        justify-content: center;
        width:100%;
    }
}